* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

h2 {
  size: 2rem;
  font-weight: bold;
  color: #3d0a4e;
}

.container {
  /* padding: 100px 30vw 0 30vw; */
  margin-top: 100px;
  width: 770px;
}

.flex-column {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header {
  gap: 20px;
}

.header-left {
  flex: 1;
}

p {
  color: #777;
  font-size: 10px;
  /*line-height: 20px;*/
}

.header-right {
  flex: 2.43;
  padding-top: 10px;
  gap: 5px;
}
.header-right > :nth-child(1) {
  margin-left: 20px;
  margin-right: 0;
  
}
.header-right > :nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
  
}
.header-right > :nth-child(3) {
  margin-left: 0;
  margin-right: 20px;
  
}


 
 



.header-right-item {
  display: flex;
  align-items: center;
  width: auto;
  padding: 10px;
  background-color: #f5f1f7;
  border-radius: 5px;
  font-size: 10px;
  gap: 20px;
}

.header-right-item:hover {
  background-color: #dbdada;
}

/* .header-right .header-right-item:nth-child(1) {
  margin-left: 10%;
  margin-right: 0;
}
.header-right .header-right-item:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;
}
.header-right .header-right-item:nth-child(3) {
  margin-left: 0;
  margin-right: 10%;
} */
.doublon {
  gap: 10px;
  margin-top: 20px;
}

.doublon .rose {
  flex: 1;
}

.rose {
  background-color: #4b0a63;
  border-radius: 10px;
  border-radius: 8px;
  height: 100px;
  padding: 10px;
  color: #fff;
  gap: auto;
}

.rose:hover {
  background-color: #8f33ad;
}

h3 {
  color: #3d0a4e;
  font-size: 1.1rem;
}

.centre-verticalement {
  align-items: center;
  gap: 10px;
}

.fa-user {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  size: 2rem;
}

.card-content {
  font-size: 0.95rem;
}

.apprecied {
  color: #c9a2db;
  font-size: 10px;
}

.identite {
  gap: 2px;
}

.nom {
  font-size: 0.7rem;
}

.fa-star {
  color: #FFD43B;
  size: 1rem;
}
.fa-user {
  color: #74C0FC;
}
.card-content {
  font-size: 10px;
}

@media screen and (max-width: 768px) {

  .header,
  .doublon,
  .header-right-item {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }
  .doublon, .bas{
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .header-left {
    align-items: center;
    text-align: center;
  }

  .header-right .header-right-item:nth-child(1) {
    margin-left: 0;
    margin-right: 0;
  }

  .header-right .header-right-item:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }

  .header-right .header-right-item:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) { 
  .doublon, .bas{
    margin-left: 0;
    margin-right: 0;
  }
  .container{
    padding: 10px;
  }

  
}