* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --purple: #f5f1f7;
  --light-purple: #8f33ad;
  --light-pink: #c9a2db;
  --yellow: #f5c518;
  --gray: #f3efF2;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  color: #333;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  gap: 20px;
  padding-top: 10vh;
}
.container {
  width: 50vw;
  height: auto;

}

.flex-column {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.header {
  gap: 20px;
}
.header-left {
  flex: 1.2;
}
p {
  color: gray;
  /*line-height: 20px;*/
}
.header-right {
  flex: 2;
  gap: 5px;
}
.header-right .header-right-item {
  display: flex;
  align-items: center;
  background-color: #f5f1f7;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}
.header-right-item:hover {
  background-color: #dbdada;
}
.header-right .header-right-item:nth-child(1) {
  margin-left: 10%;
  margin-right: 0;
}
.header-right .header-right-item:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;
}
.header-right .header-right-item:nth-child(3) {
  margin-left: 0;
  margin-right: 10%;
}
.doublon {
  gap: 20px;
  padding-top: 50px;
}
.doublon .rose {
  flex: 1;
}
.rose {
  background-color: #4b0a63;
  min-height: 7vw;
  border-radius: 10px;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  gap: 10px;
}
.rose:hover {
  background-color: #8f33ad;
}

h3 {
  color: #3d0a4e;
  font-size: 2rem;
}
.centre-verticalement {
  align-items: center;
  gap: 10px;
}
.fa-user {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  size: 2rem;
}
.card-content {
  font-size: 0.95rem;
}
.apprecied {
  color: #c9a2db;
}
.identite {
  gap: 2px;
}
.nom {
  font-size: 1.1rem;
}
.fa-star {
  size: 1rem;
}


.card-content {
  font-size: 0.95rem;
}
.star{
  width: 7rem;
}
@media screen and (max-width: 768px) {
  .header,
  .doublon,
  .header-right-item {
    flex-direction: column;
  }
  
  .container {
    width: 100vw;
    height: auto;
  
  }
 
  .header-left{
    align-items: center;
    text-align: center;
  }
  .header-right .header-right-item:nth-child(1) {
    margin-left: 0;
    margin-right: 0;
  }
  .header-right .header-right-item:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .header-right .header-right-item:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 375px) {
  .doublon, .bas {
  
      margin: 15px 5vw 0 5vw;
    
}
}