* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  gap: 20px;
}
.container {

    margin: 5vw 25vw 5vw 25vw;
}

.flex-column {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.header {
  gap: 20px;
}
.header-left {
  flex: 1;
}
p {
  color: gray;
  font-size: 10px;
  /*line-height: 20px;*/
}
.header-right {
  flex: 2;
  padding-top: 10px;
  gap: 5px;
}
.header-right .header-right-item {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgb(243, 239, 242);
  border-radius: 5px;
  font-size: 10px;
}
.header-right .header-right-item:nth-child(1) {
  margin-left: 10%;
  margin-right: 0;
}
.header-right .header-right-item:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;
}
.header-right .header-right-item:nth-child(3) {
  margin-left: 0;
  margin-right: 10%;
}
.doublon {
  gap: 20px;
}
.doublon .rose {
  flex: 1;
}
.rose {
  background-color: #4b0a63;
  border-radius: 10px;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  gap: 10px;
}
.rose:hover {
  background-color: #8f33ad;
}

h3 {
  color: #3d0a4e;
  font-size: 1.1rem;
}
.centre-verticalement {
  align-items: center;
  gap: 10px;
}
.fa-user {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  size: 2rem;
}
.card-content {
  font-size: 0.95rem;
}
.apprecied {
  color: #c9a2db;
  font-size: 10px;
}
.identite {
  gap: 2px;
}
.nom {
  font-size: 0.7rem;
}
.fa-star {
  color: #f5c518;
  size: 1rem;
}
.header-right-item {
  gap: 10px;
}
.card-content {
  font-size: 10px;
}
@media screen and (max-width: 768px) {
  .header,
  .doublon,
  .header-right-item {
    flex-direction: column;
  }
  
  .container {
  
      margin: 10vw 0 0 0;
  }
 
  .doublon, .bas{
    margin: 15px 20vw 0 20vw;
  }
  
  .header-left{
    align-items: center;
    text-align: center;
  }
  .header-right .header-right-item:nth-child(1) {
    margin-left: 0;
    margin-right: 0;
  }
  .header-right .header-right-item:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .header-right .header-right-item:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
  }
}
